/* Importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Niconne&family=Roboto&display=swap');


/* General styling */
*{
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    font-size: 1.25rem;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

    max-width: 100vw;
}

a{
    color: inherit;
    text-decoration: none;
}

p{
    margin: 0;
    padding: 0;
}

.webSection{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    max-width: 100vw;
    min-height: 100vh;
}


/* Home section styling */
#home{
    background-image: url(../images/vania-shows-N1I6IgDOGJs-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.overlay{
    background-color: rgba(0, 0, 0, .6);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    max-width: 100vw;
    min-height: 100vh;
}

#navBar{
    display: flex;
    padding: 0;
}

#navBarInsider{
    display: flex;
    padding: 0 1.25rem 0 0;
}

.brandId{
    background-color: #fff;
    border-bottom-right-radius: 3.125rem;
    color: #011627;
    display: flex;
    margin: 0;
    padding: 0;

    width: 10%;
    min-width: 150px;
}

#brandName{
    color: #011627;
    font-family: Niconne, cursive;
    font-size: 2.25rem;
    margin: auto 0;
    padding: 0;
    position: relative;

    bottom: 0.3125rem;
}

.logoDiv{
    border: 0.3125rem solid #011627;
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    margin: 1.25rem;

    width: 3.125rem;
    height: 3.125rem;
}

.logoArt{
    background-color: #011627;
    border-radius: 0.15625rem;
    margin: auto 0;

    width: 0.3125rem;
}

.shortDiv{
    height: 1.25rem;
}

.longDiv{
    height: 1.75rem;
}

.navBtn{
    border: none;
}

.nav-item{
    font-size: 1.25rem;
    font-weight: bold;
}

#currentDiv{
    color: #2ec4b6;
}

.burgerMenuDivs{
    background-color: #fff;
    width: 1.25rem;
    height: 0.15625rem;
}

.middleBurgerMenuDivs{
    margin: 0.3125rem 0;
}

.mainBody{
    /* background-color: rosybrown; */
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0;

    width: 98vw;
    height: 90vh;
}

.watermark{
    color: rgba(46, 196, 182, .1);
    font-size: 4rem;
}

.firstWatermark{
    margin: 0 auto auto 1.25rem;
}

.promptArea{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}

.heading{
    font-size: 6rem;
    font-weight: bold;
}

.description{
    font-size: 2.25rem;
    font-weight: bold;
}

.callToAction{
    display: flex;
    margin: 1.25rem auto;
}

.sampleBtn{
    border: #fff solid 0.3125rem;
    font-size: 1.5rem;
    margin: auto;
    padding: 0.3125rem 1.25rem;
}


.secondWatermark{
    margin: auto 1.25rem 0 auto;
}


/* Samples section styling */
#sample{
    background-color: #011627;
    color: #fff;
    display: flex;
    flex-direction: row;
}

.sampleSubsection{
    display: flex;
    flex: 1;
}

.currentlyPlaying{
    background-color: rgba(46, 196, 182, .2);
    flex-direction: column;
}

.currentMusic{
    background-image: url(../images/frank-septillion-Qrspubmx6kE-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    width: 91.5625%;
    height: 49.791666667%;
}


/* Contact section styling */
#contact{
    background-color: #011627;
    color: #fff;
}

.prompt{
    margin: 1.25rem auto;
}

.invite{
    margin: 0 auto;
}

.contactSection{
    background-image: url(../images/mohammad-metri-1oKxSKSOowE-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    margin: auto auto 0;

    width: 50%;
}

.socialMediaSection{
    background-color: rgba(0, 0, 0, .6);
    display: flex;
    flex: 1;
    flex-direction: column;
}

.account{
    color: #2ec4b6;
    margin: auto;
}

.fab,
.far{
    font-size: 3rem;
    margin-right: 1rem;
}

.contactFormSection{
    background-color: rgba(10, 57, 68, .6);
    display: flex;
    flex: 1;
}

form{
    display: flex;
    flex-direction: column;
    margin: auto;
}

label{
    margin: 1.25rem 0 0.625rem;
}

input{
    border: none;
    border-radius: 0.9375rem;
    font-size: 1.125rem;
    padding: 0.625rem;

    width: 17.1875rem;
    height: 1.875rem;
}

textarea{
    border: none;
    border-radius: 0.3125rem;
    font-size: 1.125rem;
    padding: 0.625rem;
}

.actionBtn{
    background-color: rgba(0, 0, 0, 0);
    border: 0.25rem #fff solid;
    border-radius: 1.5rem;
    color: #fff;
    font-weight: bold;
    margin: 1.25rem auto;
    padding: 0.3125rem 1.25rem;
}

.conclusion{
    margin: auto;
}

footer{
    background-color: rgba(46, 196, 182, .3);
    text-align: center;
}

footer p{
    font-size: 1.125rem;
    padding: 0.3125rem;
}