@media (max-width: 640px) {
    // home section responsive styling
	.navLinks {
		display: none;
		flex-direction: column;

		.midLink {
			margin: 1.25rem 0;
		}
	}

	.navLinkIcons {
		display: flex;
	}

	.sublime {
		font-size: 2.5rem;
		margin: 0 auto;
	}

	.name {
		font-size: 3.5rem;
	}

	.service {
		font-size: 2.5rem;
	}

	.callToAction {
		font-size: 1.25rem;
	}

    // sample section responsive styling

    // contact section responsive styling
    
}
